<!DOCTYPE html>
<html>
<head>
	<title>个人信息</title>
	<meta charset="utf-8"/>
	 <link rel="stylesheet" href="../static/css/style.css">
</head>
<body style="background-image: url(../static/img/background02.jpg);width:1400px;
      margin: auto;margin-top: -25px;">
	<h2>社团管理平台</h2>
	<div class="log">
		<h3>个人信息</h3>
		

		<div class="tupian"> 
		<img src="../static/img/123.jpg" width="100"; height="100";"> 
	</div>
		<ul>
                    <li><a href="#">姓名</a></li>
                    <table border="0">
     <tr>
        <td>***</td>
    </tr>
</table>
                    <li><a href="#"> 学号 </a></li>
                     <table border="0">
     <tr>
        <td>********</td>
         </tr>
         </table>

                    <li><a href="#">加入的社团</a></li>
                     <table border="0" >
                     <tr>
                     <td>
                     <ul>
                     	<li>篮球社</li>
                     	<li >足球社</li>
                     	<li>网球社</li>
                     </ul>
                 </td>
             </tr>
         </table>
         </ul>
	</div>
	<p>
<a href="http://127.0.0.1:5000">返回主页</a></p>
 </body>
 </html>