<!DOCTYPE html>
<html>
<head>
	<title>注册</title>
	<meta charset="utf-8"/>
	 <link rel="stylesheet" href="../static/css/style.css">
</head>
<body style="background-image: url(../static/img/background04.jpg);width:1400px;
      margin: auto;margin-top: -25px;">
	<h2>社团管理平台</h2>
	<div class="signup">
		<h3>注册</h3>
		<br/>
		<form>
			<label style="margin-top: 20px;">姓名:</label>
			<input type="text" name="Name" style="width: 200px;height: 25px;margin-left:20px;margin-top: 20px;" position="relative" >	
			
			<label style="margin-top: 20px;">学号:</label>
			<input type="text" name="Number" style="width: 200px;height: 25px;margin-left:20px;margin-top: 20px;" position="relative" >	
			
			<label>用户名:</label>
			<input type="text" name="ID" style="width: 200px;height: 25px;margin-top: 20px;" position="relative" >	
			
			<label style="margin-top: 20px;">密码:</label>
			<input type="password" name="password" style="width: 200px;height: 25px;margin-left:20px;margin-top: 20px;" position="relative" >
			
			<input type="submit" value="注册" name="submitBtn" style="width: 280px;height: 40px;margin-top: 20px;font-size: 20px;background-color: #0066ff;color: white;" >
		</form>
		
	</div>

</body>
</html>