<!DOCTYPE html>
<html>
<head>
	<title>登录</title>
	<meta charset="utf-8"/>
	 <link rel="stylesheet" href="../static/css/style.css">
</head>
<body style="background-image: url(../static/img/background04.jpg);width:1400px;
      margin: auto;margin-top: -25px;">
	<h2>社团管理平台</h2>
	<div class="login">
		<h3>登录</h3>
		<br/>
		{% if message %}
  			<p style="color:red;font-size :15px">{{ message }}</p>
 		{% endif %}
		<form method="POST">
			<label>用户名:</label>
			<input type="text" name="username" style="width: 200px;height: 25px;" position="relative" >	
			<br/>
			<label style="margin-top: 20px;">密码:</label>
			<input type="password" name="password" style="width: 200px;height: 25px;margin-left:20px;margin-top: 20px;" position="relative" >
			<br/>
			<input type="submit" value="登录" name="submitBtn" style="width: 280px;height: 40px;margin-top: 20px;font-size: 20px;background-color: #0066ff;color: white;" >
		</form>
		<ul style="float: right;">
			<li style="line-height: 20px;"><a href=" http://127.0.0.1:5000/fetch_code" style="color: black;font-size: 15px;width: 80px;">忘记密码？/</a></li>
			<li style="line-height: 20px;"><a href="http://127.0.0.1:5000/register" style="color: black;font-size: 15px;width: 70px;">注册</a></li>
		</ul>
	</div>
	

</body>
</html>